* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

 :root{
    font-family: "Bungee", system-ui;
}
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

header {
    background-color: #010d16;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .8rem ; 
   
}

.navegacao{
    display: flex;
    justify-content: space-evenly;
}

li{
    list-style-type: none;
}

a{
    color: white;
    text-decoration: none;
    list-style-type: none;
    font-weight: bold;
}

.logo{
    width: 180px;
}



nav {
    flex-grow: 1; 
}


.imagemFundo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('../IMG/ImgFundo.jpg');
    background-position: center center;
    height: 100vh; /* Altura da div */
    width: 100vw;
    background-size: cover;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8); 
    z-index: 0;
    color: white; 
    text-align: center;
    display: flex;
    flex-direction: column; 
    justify-content: center;
} 

footer {
    background-color: #010d16;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: fixed; /* Mantém o rodapé fixo na tela */
    bottom: 0; /* Fixa na parte inferior */
    width: 100%; /* Ocupa toda a largura da página */
}